<!-- <h1> Authentication Sample </h1> -->
<div *ngIf="!user">

  <div class="form-login">
    <div class="mssg padded">
      <h1>Form Rocks</h1>
      Welcome back,<br/>
      <span class="app-subheading">
        login to continue<br/>
        to your forms.
      </span>
      <br>
    </div>

      <form class="padded">
          <input type="email" [(ngModel)]="formInfo.username" placeholder="Username" name="username"
          required pattern=".*\.\w{2,}"/>
          <input type="password" [(ngModel)]="formInfo.password" name="password" required placeholder="Password" />
            <div class="padded">
            <button (click)="login()" class="login va">Login</button>
            <button (click)="signup()" class="login va">Register</button>
            </div>
      </form>
  </div>


 <!-- <form> -->
   <!-- <h2> Login or Signup </h2>
   <label> Username </label> -->
   <!-- <input type="text" [(ngModel)]="formInfo.username" name="username"/>
   <br> -->
   <!-- <label> Password </label> -->
   <!-- <input type="password" [(ngModel)]="formInfo.password" name="password"/> -->

   <!-- <button (click)="login()" class="login"> login </button>
   <button (click)="signup()"> signup </button> -->
 <!-- </form> -->

</div>
 <div *ngIf="user">

   <div class="container">
     <app-quiz></app-quiz>
   </div>


   <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
   <pre> {{ privateData | json }} </pre>

   <button (click)="logout()" class="logoutLblPos logout"> logout </button>
 </div>

 <p class="error"> {{ error }} </p>
