<!-- <h1> Authentication Sample </h1> -->
<div *ngIf="!user">

  <div class="route" id="welcome"></div>
  <div id="app">
    <div class="app-view">
      <header class="app-header">
        <h1>Form Rocks</h1>
        Welcome back,<br/>
        <span class="app-subheading">
          login to continue<br/>
          to your forms.
        </span>
      </header>
      <!-- <input type="email" required placeholder="Username" /> -->
      <input type="email" [(ngModel)]="formInfo.username" placeholder="Username" name="username"
      required pattern=".*\.\w{2,}"/>
      <!-- <input type="password" [(ngModel)]="formInfo.password" name="password"/> -->
      <input type="password" [(ngModel)]="formInfo.password" name="password" required placeholder="Password" />
      <!-- <a href="#welcome" class="app-button">Login</a> -->
      <div class="app-register">
        <!-- Don't have an account? -->
        <!-- <a>Sign Up</a> -->
        <!-- <button (click)="signup()"> signup </button> -->
        <button (click)="login()" class="login va">Login</button>
        <button (click)="signup()" class="login va">Register</button>
      </div>
      <svg id="svg-lines" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 284.2 152.7" xml:space="preserve">
        <path class="st0" d="M37.7,107.3h222.6c12,0,21.8,9.7,21.8,21.7s-9.7,21.8-21.8,21.8c0,0-203.6,0-222.6,0S2.2,138.6,2.2,103.3   c0-52,113.5-101.5,141-101.5c13.5,0,21.8,9.7,21.8,21.8s-9.7,21.7-21.8,21.7s-21.8-9.7-21.8-21.7s9.7-21.8,21.8-21.8"/>
        <path class="st1" d="M260.2,76.3L250,87.8l-9-9c-6.2-6.2,2-24.7,17.2-24.7c15.2,0,23.9,17.7,23.9,29.7s-11.7,23.5-23.9,23.5h-10.2"></path>
        <g class="svg-loader" xmlns="http://www.w3.org/2000/svg">
          <path class="svg-loader-segment -cal" d="M164.7,23.5c0-12-9.7-21.8-21.8-21.8"/>
          <path class="svg-loader-segment -heart" d="M143,45.2c12,0,21.8-9.7,21.8-21.7"/>
          <path class="svg-loader-segment -steps" d="M121.2,23.5c0,12,9.7,21.7,21.8,21.7"/>
          <path class="svg-loader-segment -temp" d="M143,1.7c-12,0-21.8,9.7-21.8,21.8"/>
        </g>
      </svg>
    </div>




 <!-- <form> -->
   <!-- <h2> Login or Signup </h2>
   <label> Username </label> -->
   <!-- <input type="text" [(ngModel)]="formInfo.username" name="username"/>
   <br> -->
   <!-- <label> Password </label> -->
   <!-- <input type="password" [(ngModel)]="formInfo.password" name="password"/> -->

   <!-- <button (click)="login()" class="login"> login </button>
   <button (click)="signup()"> signup </button> -->
 <!-- </form> -->

</div>
 <div *ngIf="user">

   <div class="container">
     <app-quiz></app-quiz>
   </div>


   <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
   <pre> {{ privateData | json }} </pre>

   <button (click)="logout()" class="logoutLblPos logout"> logout </button>
 </div>

 <p class="error"> {{ error }} </p>
